.Content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Forecast > div{
    width: 18%;
    padding:30px
}

.Headline{
    justify-content: space-around;
}

.Temp{
    text-align: center;
}

.Temp > span{

    position: relative;
    bottom: 10px; 
    font-size: 0.6rem;
}

.ForecastIcon img{
    margin: 0 auto;
    display: block;
}


.FavIcon{
    font-size: 30;
    color:#ff5151;
    cursor: pointer;
}





@media (max-width: 600px){


    .Forecast > div{
        width: 100%;
        margin-bottom: 10px;
    }

}